@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./NGSpv5_NC0k9P_v6ZUCbLRAHxK1EiSyccg.ttf') format('truetype');
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./NGSpv5_NC0k9P_v6ZUCbLRAHxK1Euyyccg.ttf') format('truetype');
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./NGSpv5_NC0k9P_v6ZUCbLRAHxK1Ebiuccg.ttf') format('truetype');
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./NGSpv5_NC0k9P_v6ZUCbLRAHxK1ECSuccg.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./-nFuOG829Oofr2wohFbTp9ifNAn722rq0MXz76Cy_Co.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./-nFuOG829Oofr2wohFbTp9ifNAn722rq0MXz75Ky_Co.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./-nFuOG829Oofr2wohFbTp9ifNAn722rq0MXz70e1_Co.ttf') format('truetype');
}
